*{
    margin: 0;
    font-size: medium;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
li{
    list-style: none;
    margin-top: 15px;
}
li button{
    background: red;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
}