*{
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #7bb852 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
li{
    list-style: none;
    margin-top: 15px;
}
li button{
    background: green;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
#food-form{
    background:brown;
    padding: 20px;
    border-radius: 10px;
    color: #000;
}